@page
@model WebApp.Pages_Expenses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Search Engine</h2>

<form class="form-inline" method="get">
    <table>
        <tr>
            <td><label class="my-1 mr-2">Description</label></td>
            <td>
                <input asp-for="Description" class="form-control mb-2 mr-sm-2"/>
            </td>
        </tr>
        <tr>
            <td><label class="my-1 mr-2">Category</label></td>
            <td><select asp-for="CategoryId" class="form-control mb-2 mr-sm-2" asp-items="@Model.Categories"></select></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: left">
                <input asp-for="Btn" type="submit" value="Search" class="btn btn-primary mb-2 my-1 mx-2"/>
                @if (@Model.Btn == "Reset")
                {
                    <input asp-for="Btn" type="submit" value="Reset" class="btn btn-primary mb-2 my-1"/>

                }
            </td>
        </tr>
    </table>

</form>

<p>
    <h3><a asp-page="Create">Add expense</a></h3>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expense![0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense![0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense![0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense![0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expense![0].Car!.NumberPlate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Expense!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Car!.NumberPlate)
            </td>
            <td>
                <table class="table table-sm table-borderless">
                    <tr>
                        <td><a asp-page="./Edit" asp-route-id="@item.ExpenseId">Edit</a></td>
                    </tr>
                    <tr>
                        <td><a asp-page="./Details" asp-route-id="@item.ExpenseId">Details</a></td> 
                    </tr>
                    <tr>
                        <td><a asp-page="./Delete" asp-route-id="@item.ExpenseId">Delete</a></td>
                    </tr>
                </table>
            </td>
        </tr>
}
    </tbody>
</table>
